@use "index";

.dropdown {
    &Button {
        width: 215px;
        height: 100%;
        scale: 100%;
        padding: 14px 22px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border: none;
        border-radius: 8px;

        font-size: 15px;
        cursor: pointer;

        scale: 1;
        background: #ffffff;
        filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.05));
        @include index.transition(scale);

        &:hover,
        &:focus-visible {
            scale: 1.05;
        }

        svg {
            @include index.transition(rotate);
        }
    }

    &List {
        position: absolute;
        left: 50%;
        top: 120%;
        transform: translateX(-50%);

        width: calc(100% * 1.05);
        padding: 8px;
        border-radius: 0.5rem;
        background: #ffffff;

        display: flex;
        flex-direction: column;
        gap: 4px;
        z-index: 100;

        font-size: 17px;

        list-style-type: none;
        filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.05));

        visibility: hidden;
        transform-origin: left;

        scale: 0.8;
        @include index.transition("scale");

        &Show {
            visibility: visible;
            scale: 1;
        }

        button {
            width: 100%;
            padding: 4px;
            border: none;
            background: transparent;

            cursor: pointer;

            scale: 1;
            @include index.transition(scale);

            &:hover,
            &:focus-visible {
                scale: 1.1;
            }
        }
    }

    &Wrapper {
        position: relative;
        width: fit-content;
    }
}

.contentWrapper {
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: fit-content(100%) auto;
    }
}

// its bad that this is setting the height for the entire page but will do for now
.coloredBg {
    color: var(--color);
    @include index.transition(color);

    &Desktop {
        display: none;
        height: 100vh;
        @media (min-width: 768px) {
            display: block;
        }
    }

    &Mobile {
        width: 100%;
        height: auto;
        max-height: 524px;
        @media (min-width: 768px) {
            display: none;
        }
    }
}

.selection {
    &Foreground {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
        padding: 64px 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 768px) {
            align-items: flex-start;

            padding: 92px 0 92px 96px;
        }
    }

    &Wrapper {
        position: relative;

        height: fit-content;

        color: white;
    }

    &Name {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11px;

        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;

        @media (min-width: 768px) {
            flex-direction: row;
            gap: 22px;
        }
    }

    &Footer {
        &Desktop {
            display: none;

            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;

            span {
                display: block;

                margin-bottom: 14px;

                font-size: 14px;
                font-weight: 600;
                letter-spacing: 13.5%;
            }

            @media (min-width: 768px) {
                display: block;
            }
        }

        &Mobile {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;

            @media (min-width: 768px) {
                display: none;
            }
        }
    }
}

.results {
    --maxColumns: 4;
    --itemWidth: 76px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;

    max-width: calc(
        var(--itemWidth) * var(--maxColumns) + 35px * (var(--maxColumns) - 1)
    );

    @media (min-width: 768px) {
        --maxColumns: 6;
        --itemWidth: 112px;

        max-height: 100vh;
    }

    &Item {
        display: grid;
        place-items: center;

        width: var(--itemWidth);
        aspect-ratio: 1;
        border-radius: 50%;
        background: #ffffff;

        font-size: 20px;
        color: #333333;
        font-weight: bold;

        scale: 1;
        @include index.transition(scale);

        &:hover {
            scale: 1.1;
        }

        @media (min-width: 768px) {
            width: var(--itemWidth);

            font-size: 27px;
        }
    }

    &Wrapper {
        display: grid;
        place-items: center;

        padding: 75px 35px;

        @media (min-width: 768px) {
            padding: 0 10px;
        }
    }
}
